
body 
{
	font-family: verdana, arial, helvetica, sans-serif ;

	color: #000 ;
	background-color: #fff ;

	margin: 0px ;
	padding: 0px ;
}

div.two-column-header
{
	background-color: #eee ;

	border-bottom: 1px #999 solid ;
	height: 100px ;
	width: 100% ;
}

h1
{
	text-align: center ;
	color: #09c ;
}

div.two-column-header h1 
{
	margin: 0px ;
}

div.two-column-content
{
	margin-left: 210px ; /* menu width + 40px */
	padding: 40px ;
}

div.two-column-menu
{
	background-color: #eee ;

	float: left ;
	width: 180px ;
	margin-left: 30px ;
	margin-top: 30px ;
	margin-bottom: 10px ;

	border-style: solid ;
	border-width: 1px ;
	border-color: #999 ;
}

div.div-main
{
	margin-left: 10% ;
	margin-right: 10% ;
}

div.div-toc
{
	background-color: #eee ;
}

p.p-toc
{
	padding: 5px ;
	margin-top: 0px ;
	margin-bottom: 0px ;
	margin-left: 0.5em ;
	text-align: left ;
}

div.div-pre
{
	margin-left: 3% ;
	background-color: #eee ;
	padding: 0.5em ;
	border: none ;
}

h1
{
	text-align: center ;
	color: #09c ;
}

img
{
	margin-left: 8% ;
}

h2
{
	color: #09c ;
}

p 
{
	font-family: verdana, arial, helvetica, sans-serif ;
	text-align: justify ;
}

h3.h3-toc
{
	display: block ;
	margin: 0px ;
	padding: 0px ;
	width: 100% ;
	border-bottom: 1px #999 solid ;
	text-decoration: none ;
}

p.p-toc
{
	padding-top: 0px ;
	padding-bottom: 0px ;
	padding-left: 15px ;
	margin: 0px ;
	border-bottom: 1px #999 solid ;
}

a.a-toc
{
	color: #09c ;
	text-decoration: none ;
	padding: 0px ;
	margin: 0px ;
}

a.a-toc:hover 
{
	color: #09c ;
	background-color: #ccc ;
}

a.a-toc-expander
{
	color: #09c ;
	text-decoration: none ;
	font-size: smaller ;
}

a.a-toc-expander:hover 
{
	color: #09c ;
	background-color: #ccc ;
}

a.a-header
{
	text-decoration:none ;
}

a.a-href
{
	text-decoration: none ;
	font-weight: bold ;
}

a.a-href:link 
{
	color: #09c ;
}

a.a-href:visited 
{
	color: #07a ;
}

a.a-href:hover 
{
	color: #09c ;
	background-color: #eee ;
}

em.quote
{
	font-weight: bold ;
}

em.fn
{
	font-weight: bold ;
}

li em.fn
{
	font-weight: normal ;
	font-style: normal ;
}

dt
{
	font-weight: bold ;
	margin-left: 3% ;
}

dd
{
	font-size: smaller ;
	margin-left: 6% ;
	padding-bottom: 4px ; /* for konqueror */
}

span.span-mailto
{
	font-size: smaller ;
}

#img-sourceforge
{
	border-width: 0px ;
	border-style: none ; /* check */
}

