#
# clang-tidy-7
#
# Configuration for clang-tidy v7.
#
Checks: "\
bugprone-*,\
-bugprone-suspicious-include,\
cert-*,\
clang-diagnostic-*,\
misc-*,\
cppcoreguidelines-*,\
-cppcoreguidelines-pro-*,\
-cppcoreguidelines-owning-memory,\
modernize-*,\
-modernize-avoid-bind,\
-modernize-use-auto,\
performance-*,\
readability-*,\
-readability-*,\
"

CheckOptions:
  - key: cppcoreguidelines-special-member-functions.AllowSoleDefaultDtor
    value: '1'
  - key: cppcoreguidelines-pro-type-member-init.IgnoreArrays
    value: '1'

