#
# clang-tidy-16
#
# Configuration for clang-tidy v16.
#

Checks: "\
bugprone-*,-bugprone-branch-clone,-bugprone-suspicious-include,-bugprone-easily-swappable-parameters,-bugprone-throw-keyword-missing,\
cert-*,\
cppcoreguidelines-*,-cppcoreguidelines-avoid-magic-numbers,-cppcoreguidelines-pro-*,-cppcoreguidelines-avoid-non-const-global-variables,-cppcoreguidelines-macro-usage,-cppcoreguidelines-owning-memory,-cppcoreguidelines-avoid-const-or-ref-data-members,-cppcoreguidelines-avoid-do-while,\
misc-*,-misc-non-private-member-variables-in-classes,-misc-no-recursion,-misc-const-correctness,\
modernize-*,-modernize-use-trailing-return-type,-modernize-pass-by-value,-modernize-use-auto,-modernize-raw-string-literal,-modernize-use-nodiscard,-modernize-avoid-bind,-modernize-unary-static-assert,-modernize-macro-to-enum,\
performance-*,-performance-unnecessary-value-param,\
portability-*,\
readability-*,-readability-named-parameter,-readability-braces-around-statements,-readability-redundant-access-specifiers,-readability-magic-numbers,-readability-inconsistent-declaration-parameter-name,-readability-else-after-return,-readability-implicit-bool-conversion,-readability-convert-member-functions-to-static,-readability-redundant-smartptr-get,-readability-qualified-auto,-readability-make-member-function-const,-readability-identifier-length,-readability-simplify-boolean-expr,\
"

CheckOptions:
  - key: cppcoreguidelines-special-member-functions.AllowSoleDefaultDtor
    value: '1'
  - key: readability-function-cognitive-complexity.Threshold
    value: '180'
